@import './../../../../styles/variables';
.exp-content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.exp-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 1rem;
    &.space {
        margin: 1rem 0 2rem;
    }
}
.exp-timing-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}
.exp-timing-border {
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    border-right: 2px solid $mediumGreenColor;
    &.space {
        top: 0;
        bottom: 0;
        border-right: 2px dotted $mediumGreenColor;
    }
}
.exp-timing-date-content {
    display: flex;
}
.exp-timing-date-value {
    color: $darkGreenColor;
    margin-right: .5rem;
}
.exp-timing-date-img {
    height: 17px;
    width: 20px;
    transform: translateX(25%);
}
.exp-time-expe {
    height: fit-content;
    transform: rotate(-90deg) translateX(-50%);
    width: 5rem;
    align-self: center;
    transform-origin: 0 0;
    color: $darkGreenColor;
}
.exp-card {
    display: flex;
    justify-content: space-between;
    background-color: $lightGreenColor;
    width: 80%;
    padding: 1rem;
    padding-left: 3rem;
    border-radius: $cardBorderRadius;
    &.hidden {
        background-color: $beigeColor;
        height: 5rem;
    }
}
.exp-card-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.exp-card-header {
    display: flex;
    align-items: baseline;
    font-family: hermeneusone;
    margin-bottom: 1.6rem;
}
.exp-card-title {
    color: white;
    font-size: 2rem;
}
.exp-card-subtitle {
    color: $darkGreenColor;
    font-size: 1.1rem;
    margin-left: 1rem;
}
.exp-card-content {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.1rem;
    margin-right: 10rem;
}
ul {
    list-style: none;
    & li::before {
        content: 'o';
        color: white;
        margin-right: .5rem;
        font-weight: 900;
        font-size: .8em;
    }
}
.exp-card-tech-content {
    display: flex;
    & > * + * {
        margin-left: 1rem;
    }
}
.exp-card-tech-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &>*+*{
        margin-top: .5rem;
    }
}
