<div class="main-content">
    @for (pass of passionsList.passions;track pass;let i = $index) {
        <div class="passion-item {{i}}">

            <img
                [src]="pass.imgSrc"
                alt="image passion {{pass.title}}"
                class="passion-item-img">

            <div class="passion-item-block">
                <span class="passion-item-title">
                    {{pass.title}}
                </span>
                <div class="passion-item-parag-content">
                    @for(parag of pass.paragraphs;track parag) {
                        <span
                            class="passion-item-parag">
                            {{parag}}
                        </span>
                    }
                </div>
            </div>
        </div>
    }
</div>